*{
    margin: 0;
    padding: 0;
    
}
.para1{
    color: red;
    background-color: yellow;
    margin: 45px;
    
}
.para2{
    color: aqua;
    background-color: azure;
}
.para3{
    color: pink;
    background-color: green;
}
#id1{
    color: brown;
    background-color: black;
}